body{
    background-color: #EEE;
    font-family: 'NovaLight';
    margin:0;
    width:100%;
}
*{
    box-sizing: border-box;
}
input{
    box-sizing: border-box;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
h2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
a{
    text-decoration:none;
    color: inherit;
}

.fLeft { float: left; }
.fRigth { float: right; }
.clear { clear:both; }
.dFlex{ display:flex; }
.dBlock{ display:block; }
.dNone { display:none; }
.dIB{ display:inline-block; }

.B{font-weight: bold;}

.dFcentered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.breakFlex{
    flex-basis: 100%;
    height: 0;
}

.w100{ width:100%; }
.w50{ width:50%; }


.wSite{
    width:100%;
    max-width: $AnchoMobile;
}

@media (max-width: $AnchoMobile) {
    .wSite {
        min-width: 360px;
        width:100%;
        max-width:auto;
    }
}

/*#region FUENTES*/
  @font-face {
    font-display: swap;
    font-family: 'NovaLight';
    src: url('../fonts/proximanova-light.woff2'); /* IE9 Compat Modes */
    src: url('../fonts/proximanova-light.woff2') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/proximanova-light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/proximanova-light.woff2') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/proximanova-light.woff2')  format('truetype'), /* Safari, Android, iOS */;
  }
  @font-face {
    font-display: swap;
    font-family: 'NovaRegular';
    src: url('../fonts/proximanova-regular.woff2'); /* IE9 Compat Modes */
    src: url('../fonts/proximanova-regular.woff2') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/proximanova-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/proximanova-regular.woff2') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/proximanova-regular.woff2')  format('truetype'), /* Safari, Android, iOS */;
  }
/*#endregion*/