$FondoAmarillo: #FFE600;
$FondoBotonComprar: #3483FA;
// $FondoListados: #EEEEEE;
$AltoHeader: 56px;
// $AnchoMobile: 1024px;
$AnchoMobile: 980px;


$MargenRojo: 16px;
$MargenVerde: 32px;
$MargenRojo_M: 8px;
$MargenVerde_M: 12px;